<div class="content-page">
    {{#if warning}}
    <div class="col-md-12">
        <div class="alert alert-primary" role="alert">
            <div class="iq-alert-icon">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
            <div class="iq-alert-text"> <b>Warning </b> {{warning}}</div>
        </div>
    </div>
    {{/if}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-transparent card-block card-stretch card-height border-none">
                    <div class="card-body p-0 mt-lg-2 mt-0">
                        <h3 class="mb-3">Hi {{name}}</h3>
                        <p class="mb-0 mr-4">Your dashboard gives you views of key performance or business
                            process.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center card-total-sale">
                                    <div class="icon iq-icon-box-2 bg-info-light">
                                        <img src="../assets/images/report/total-sales.png" class="img-fluid"
                                            alt="image">
                                    </div>
                                    <div>
                                        <p class="mb-2">Total Sales</p>
                                        <h4 id="totalprice"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center card-total-sale">
                                    <div class="icon iq-icon-box-2 bg-danger-light">
                                        <img src="../assets/images/report/order-sales.png" class="img-fluid"
                                            alt="image">
                                    </div>
                                    <div>
                                        <p class="mb-2">Orders Sold</p>
                                        <h4 id="totalorderssold"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center card-total-sale">
                                    <div class="icon iq-icon-box-2 bg-success-light">
                                        <img src="../assets/images/report/product-sales.png" class="img-fluid"
                                            alt="image">
                                    </div>
                                    <div>
                                        <p class="mb-2">Product Sold</p>
                                        <h4 id="totalproduct"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3" id="profit-report">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="d-flex align-items-center card-total-sale">
                                    <div class="icon iq-icon-box-2 bg-primary-light">
                                        <img src="../assets/images/report/profit.png" class="img-fluid" alt="image">
                                    </div>
                                    <div>
                                        <p class="mb-2">Profit</p>
                                        <h4 id="totalprofit"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-8">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Top Products</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled row top-product mb-0">
                            <li class="col-lg-3">
                                <div class="card card-block card-stretch card-height mb-0">
                                    <div class="card-body">
                                        <div class="bg-warning-light rounded">
                                            <img src="../assets/images/product/01.png"
                                                class="style-img img-fluid m-auto p-3" alt="image">
                                        </div>
                                        <div class="style-text text-left mt-3">
                                            <h5 class="mb-1">Organic Cream</h5>
                                            <p class="mb-0">789 Item</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3">
                                <div class="card card-block card-stretch card-height mb-0">
                                    <div class="card-body">
                                        <div class="bg-danger-light rounded">
                                            <img src="../assets/images/product/02.png"
                                                class="style-img img-fluid m-auto p-3" alt="image">
                                        </div>
                                        <div class="style-text text-left mt-3">
                                            <h5 class="mb-1">Rain Umbrella</h5>
                                            <p class="mb-0">657 Item</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3">
                                <div class="card card-block card-stretch card-height mb-0">
                                    <div class="card-body">
                                        <div class="bg-info-light rounded">
                                            <img src="../assets/images/product/03.png"
                                                class="style-img img-fluid m-auto p-3" alt="image">
                                        </div>
                                        <div class="style-text text-left mt-3">
                                            <h5 class="mb-1">Serum Bottle</h5>
                                            <p class="mb-0">489 Item</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3">
                                <div class="card card-block card-stretch card-height mb-0">
                                    <div class="card-body">
                                        <div class="bg-success-light rounded">
                                            <img src="../assets/images/product/02.png"
                                                class="style-img img-fluid m-auto p-3" alt="image">
                                        </div>
                                        <div class="style-text text-left mt-3">
                                            <h5 class="mb-1">Organic Cream</h5>
                                            <p class="mb-0">468 Item</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-transparent card-block card-stretch mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between p-0">
                        <div class="header-title">
                            <h4 class="card-title mb-0">Best Item All Time</h4>
                        </div>

                    </div>
                </div>
                <div class="card card-block card-stretch card-height-helf">
                    <div class="card-body card-item-right">
                        <div class="d-flex align-items-top">
                            <div class="bg-warning-light rounded">
                                <img src="../assets/images/product/04.png" class="style-img img-fluid m-auto"
                                    alt="image">
                            </div>
                            <div class="style-text text-left">
                                <h5 class="mb-2">Coffee Beans Packet</h5>
                                <p class="mb-2">Total Sell : 45897</p>
                                <p class="mb-0">Total Earned : $45,89 M</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-block card-stretch card-height-helf">
                    <div class="card-body card-item-right">
                        <div class="d-flex align-items-top">
                            <div class="bg-danger-light rounded">
                                <img src="../assets/images/product/05.png" class="style-img img-fluid m-auto"
                                    alt="image">
                            </div>
                            <div class="style-text text-left">
                                <h5 class="mb-2">Bottle Cup Set</h5>
                                <p class="mb-2">Total Sell : 44359</p>
                                <p class="mb-0">Total Earned : $45,50 M</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{{!-- <div class="content-page">
     {{#if warning}}
    <div class="col-md-12">
        <div class="alert alert-primary" role="alert">
            <div class="iq-alert-icon">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
            <div class="iq-alert-text"> <b>Warning </b> {{warning}}</div>
        </div>
    </div>
    {{/if}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-transparent card-block card-stretch card-height border-none">
                    <div class="card-body p-0 mt-lg-2 mt-0">
                        <h3 class="mb-3">Hi {{name}}</h3>
                        <p class="mb-0 mr-4">Your dashboard gives you views of key performance or business
                            process.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center"> <h1>SALES ORDER REPORT</h1></div>
            <div class="col-lg-12 mb-4">
                <div id="reportrange"
                    style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span id="startenddatetime"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="d-flex align-items-center card-total-sale">
                            <div class="icon iq-icon-box-2 bg-info-light">
                                <img src="../assets/images/report/total-sales.png" class="img-fluid" alt="image">
                            </div>
                            <div>
                                <p class="mb-2">Total Sales</p>
                                <h4 id="totalprice" class="formatpriceall text"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="d-flex align-items-center card-total-sale">
                            <div class="icon iq-icon-box-2 bg-danger-light">
                                <img src="../assets/images/report/order-sales.png" class="img-fluid" alt="image">
                            </div>
                            <div>
                                <p class="mb-2">Orders Sold</p>
                                <h4 id="totalorderssold"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 ">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="d-flex align-items-center card-total-sale">
                            <div class="icon iq-icon-box-2 bg-success-light">
                                <img src="../assets/images/report/product-sales.png" class="img-fluid" alt="image">
                            </div>
                            <div>
                                <p class="mb-2">Product Sold</p>
                                <h4 id="totalproduct"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3" id="profit-report">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="d-flex align-items-center card-total-sale">
                            <div class="icon iq-icon-box-2 bg-primary-light">
                                <img src="../assets/images/report/profit.png" class="img-fluid" alt="image">
                            </div>
                            <div>
                                <p class="mb-2">Profit</p>
                                <h4 id="totalprofit" class="formatpriceall"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           

        </div>
        <div class="card col-lg-12 col-md-12">
            
            <div class="card-body">
                <div class="col-lg-12">
                    <div class="table-responsive rounded mb-3">
                        <table id="datatable" class="table mb-0 tbl-server-info text-center">
                            <thead class="bg-white text-uppercase">
                                <tr class="ligth ligth-data">
                                    <th>Order Id</th>
                                    <th>Total Amount <small>(VND)</small></th>
                                    <th>Cash <small>(VND)</small></th>
                                    <th>Refund <small>(VND)</small></th>
                                    <th>Status</th>
                                    <th>Date of Purchase</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="ligth-body" id="tbodyreport">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="informationOrderdetailModal_Report" tabindex="-1" role="dialog" data-dismiss="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enterCustomerTitle">Order detail information </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive-sm">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center black" scope="col">#Index</th>
                                        <th scope="col" class="black">Order detail ID</th>
                                        <th>Image</th>
                                        <th class="text-center black" scope="col">Quantity</th>
                                        <th class="text-center black" scope="col">Retail price <small>VND</small> </th>
                                        <th class="text-center black" scope="col">Subtotal <small>VND</small></th>
                                    </tr>
                                </thead>
                                <tbody id="body-orderdetail_report">


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div> --}}