<div class="content-page">
    <div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-12">
                <a href="/categories/" class="btn btn-primary"><i class="fa-solid fa-chevron-left"></i> Back to list
                </a>
            </div>
            <div class="col-sm-12 mt-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Add brand</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/categories/add" method="POST" enctype="multipart/form-data"
                            data-toggle="validator">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Image</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" name="image">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Brand Name *</label>
                                        <input type="text" class="form-control" placeholder="Enter Brand"
                                            name="name" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Code *</label>
                                        <input type="text" class="form-control" placeholder="Enter Code" name="code"
                                            required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                {{#if success}}
                                <div class="col-md-12">
                                    <div class="alert alert-success" role="alert">
                                        <div class="iq-alert-icon">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                        <div class="iq-alert-text"> <b>Success</b> {{success}}</div>
                                    </div>
                                </div>
                                {{/if}}

                                {{#if error}}
                                <div class="col-md-12">
                                    <div class="alert alert-danger" role="alert">
                                        <div class="iq-alert-icon">
                                            <i class="ri-information-line"></i>
                                        </div>
                                        <div class="iq-alert-text"> <b>Error</b> {{error}}</div>
                                    </div>
                                </div>
                                {{/if}}

                               
                                


                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Add brand</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
</div>