<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>POS Dash | Responsive Bootstrap 4 Admin Dashboard Template</title>

   <!-- Favicon -->
   <link rel="shortcut icon" href="../assets/images/favicon.ico" />
   <link rel="stylesheet" href="../assets/css/backend-plugin.min.css">
   <link rel="stylesheet" href="../assets/css/backend.css?v=1.0.0">
   <link rel="stylesheet" href="../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
   <link rel="stylesheet" href="../assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
   <link rel="stylesheet" href="../assets/vendor/remixicon/fonts/remixicon.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class=" ">
   <!-- loader Start -->
   <div id="loading">
      <div id="loading-center">
      </div>
   </div>
   <!-- loader END -->

   <div class="wrapper">
      <section class="login-content">
         <div class="container">
            <div class="row align-items-center justify-content-center height-self-center">

               <div class="col-lg-8">
                  <div class="card auth-card">
                     <div class="card-body p-0">
                        <div class="d-flex align-items-center auth-content">
                           <div class="col-lg-7 align-self-center">
                              <div class="p-3">
                                 <h2 class="mb-4">Reset Password</h2>
                                 <form action="/authen/recover" method="POST">
                                    <div class="row">
                                       <div class="col-lg-12">
                                          <div class="floating-label form-group">
                                             <input class="floating-input form-control" type="text" placeholder=" "
                                                name="username">
                                             <label>Username</label>
                                          </div>
                                          <div class="floating-label form-group">
                                             <input class="floating-input form-control" type="password" placeholder=" "
                                                name="password">
                                             <label>Password</label>
                                          </div>
                                       </div>
                                    </div>

                                    {{#if warning}}
                                    <div class="col-md-12">
                                       <div class="alert alert-primary" role="alert">
                                          <div class="iq-alert-icon">
                                             <i class="fa-solid fa-triangle-exclamation"></i>
                                          </div>
                                          <div class="iq-alert-text">   {{warning}}</div>
                                       </div>
                                    </div>
                                    {{/if}}

                                    {{!-- <div class="col-lg-6"> --}}
                                          <a href="/authen/login" class="text-primary float-right"> Back to login
                                             </a>
                                       {{!-- </div> --}}
                                    <button type="submit" class="btn btn-primary">Reset</button>
                                 </form>


                              </div>
                           </div>
                           <div class="col-lg-5 content-right">
                              <img src="../assets/images/login/01.png" class="img-fluid image-right" alt="">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>

   <!-- Backend Bundle JavaScript -->
   <script src="../assets/js/backend-bundle.min.js"></script>

   <!-- Table Treeview JavaScript -->
   <script src="../assets/js/table-treeview.js"></script>

   <!-- Chart Custom JavaScript -->
   <script src="../assets/js/customizer.js"></script>

   <!-- Chart Custom JavaScript -->
   <script async src="../assets/js/chart-custom.js"></script>

   <!-- app JavaScript -->
   <script src="../assets/js/app.js"></script>
   <script>
      document.addEventListener('DOMContentLoaded', function () {
            function hideElementWithTimeout(element, timeout) {
                if (element) {
                    setTimeout(function () {
                        element.style.transition = "opacity 0.5s";
                        element.style.opacity = 0;

                        setTimeout(function () {
                            element.style.display = "none";
                        }, 500);
                    }, timeout);
                }
            }
            hideElementWithTimeout(document.querySelector('.alert-success'), 2000);
            hideElementWithTimeout(document.querySelector('.alert-primary'), 4000);
            hideElementWithTimeout(document.querySelector('.alert-danger'), 2000);
           
        });
   </script>
</body>

</html>